<!DOCTYPE html>
<html  ng-app="mainApp">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Spotify App</title>


  <!-- STYLES -->
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="./js/vendor/rdash-ui/dist/css/rdash.css">



  <!-- SCRIPTS -->
  <script type="text/javascript" src="https://d3js.org/d3.v3.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular-mocks.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.4.0/ui-bootstrap-tpls.min.js"></script>
  <!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular-cookies.min.js.map"></script> -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.2/angular-ui-router.min.js"></script>

  <!-- Custom Scripts -->
  <script type="text/javascript" src="./js/angular/mainApp.js"></script>
  <script type="text/javascript" src="./js/mockbackend/mockbackend.js"></script>


</head>

<body ng-controller="mainCtrl">
  <!-- Page Wrapper -->
  <div id="page-wrapper" ng-class="{'open': toggle}" ng-cloak>

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
      <ul class="sidebar">
        <li class="sidebar-main">
          <a ng-click="toggleSidebar()">
            Server Monitor
            <span class="menu-icon glyphicon glyphicon-menu-hamburger"></span>
          </a>
        </li>
        <!-- <li class="sidebar-title"><span>NAVIGATION</span></li> -->
        <li class="sidebar-list">
          <a href="#/myList" ng-click="title='My List'">My List<span class="menu-icon fa fa-line-chart"></span></a>
        </li>
      </ul>
      <div class="sidebar-footer">
        <div class="col-md-12">
          <a href="https://github.com/gaurav51289/CodingChallenge" target="_blank" ng-click="title='Data Entry'" style="font-size: 20px !important;">
            GitHub <span class="menu-icon fa fa-github"></span>
          </a>
        </div>
      </div>
</div>
<!-- End Sidebar -->

<div id="content-wrapper">
  <div class="page-content">

    <!-- Header Bar -->
    <div class="row header">
      <div class="col-xs-12">
        <div class="meta">
          <div class="page">
            <h3>{{title}}</h3>
          </div>
        </div>
      </div>
    </div>
    <!-- End Header Bar -->

    <!-- Main Content -->
    <div ui-view>

    </div>

  </div><!-- End Page Content -->
</div><!-- End Content Wrapper -->
</div>
<!-- End Page Wrapper -->
</body>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</html>
